body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

nav.navbar {
  z-index: 9999;
  background: rgba(0,0,0,0.6);
  width: 100%;
}

nav.navbar a {
  white-space: nowrap;
}

.first {
    background-image: url(../img/fiesta-copia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-top: -90px;
}

.first .container {
    text-align: center;
    padding: 20% 0 20px 0;
}

section:not(.first) {
  padding-top: 80px;
}

@media (max-width: 736px) {
    .first {
        height: 80vh;
    }
}

.logo {
    width: 15%;
}

.logo-mobile {
    width: 80%;
}

.second {
    background-color: #7F7F7F;
}

.segunda-img {
    width: 120%;
}

.second h2 {
    color: #000;
}

.second p {
  font-size: 1.1em;
}

.third h2 {
  color: #db0879;
}

.third li {
  list-style-type: square;
  color: #fff;
  margin: 10px 0;
  font-size: 1.1em;
}

.four {
  min-height: 80vh;
}
.four h2 {
  color: #3fbad9;
}

footer p {
    text-align: center;
    font-size: 0.8em;
}

a.chirimoya {
  color: #BADA55;
}

h4 {
  color: #FFF;
}

div.texto {
  padding: 15% 0;
}

 form {
  width: 70%;
  margin: 30px auto;
}
form label {
  color: #FFF;
}

form button {
  background-color: #db0879;
  color: #fff;
}
