body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #000;
    padding: 0;
    margin: 0;
}

div.texto {
    padding: 15% 0;
}

@media (max-width: 736px) {
    div.texto {
        padding: 5% 5%;
    }
}



/*navegador*/

nav.navbar {
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
}

nav.navbar a {
    white-space: nowrap;
}

nav.navbar a:hover {
    color: #db0879;
}

.logo {
    width: 15%;
}



/*fin de navegador*/


/*sección zero*/
.zero {
    position: relative;
    height: 100%;
    min-height: 100vh;
    max-width: 100%;
    margin-top: -82px;
    background: #000;
    overflow: hidden;
}

.zero img {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

.zero button.btn-ver-mas {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    transform: translatex(-50%);
    font-size: 3.3em;
    color: #FFF;
    padding: 5px 30px;
    border-radius: 10px;
    border: 3px solid #FFF;
    background: none;
    text-decoration: none;
    cursor: pointer;

    /* animation */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Grand Hotel', cursive;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

.zero .btn-ver-mas:hover {
    color: #FF1177;
    border-color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.zero .modal-dialog {
    margin: 10% auto;
    max-width: 75%;
    height: 75%;
}

.modal-content {
    height: 100%;
    width:100%;
}

.zero iframe {
    width: 100%;
    height: 100%;
}

.zero form {
    background: #3fbad9;
    padding: 30px;
    border-radius: 10px;
    min-height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
}

.zero h2 {
    font-family: "Grand Hotel", cursive;
    font-size: 3rem;
    margin-bottom: 30px;
}

.zero * {
    color: #000;
}

.zero .slider-handle {
    border: 3px solid #db0879;
    background: #fff;
}

.zero .slider strong {
    padding: 0 15px;
}

.zero .btn {
    cursor: pointer;
}

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177,
        inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #FF1177, inset 0 0 35px #FF1177, inset 0 0 40px #FF1177;
    }
    to {
        text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177;
        box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177,
        inset 0 0 3px #fff, inset 0 0 5px #fff, inset 0 0 8px #fff, inset 0 0 10px #FF1177, inset 0 0 18px #FF1177, inset 0 0 20px #FF1177;
    }
}

@-moz-keyframes neon1 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177,
        inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #FF1177, inset 0 0 35px #FF1177, inset 0 0 40px #FF1177;
    }
    to {
        text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177;
        box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177,
        inset 0 0 3px #fff, inset 0 0 5px #fff, inset 0 0 8px #fff, inset 0 0 10px #FF1177, inset 0 0 18px #FF1177, inset 0 0 20px #FF1177;
    }
}

@keyframes neon1 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177,
        inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #FF1177, inset 0 0 35px #FF1177, inset 0 0 40px #FF1177;
    }
    to {
        text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177;
        box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177,
        inset 0 0 3px #fff, inset 0 0 5px #fff, inset 0 0 8px #fff, inset 0 0 10px #FF1177, inset 0 0 18px #FF1177, inset 0 0 20px #FF1177;
    }
}



/*.zero .background {
    max-width: 100%;
    height: 100vh;
    background: url('/assets/img/neon.gif') center center;
    -webkit-background-size: cover;
    background-size: cover;
}*/

/*primera sección*/

.first {
    background-image: url(../img/fiesta-copia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    margin-top: -90px;
    padding: 10% 0;
}

.first .container {
    text-align: center;
    padding: 10% 0 10% 0;
}

.logo-mobile {
    width: 80%;
}

.video {
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 0;
}


@media (max-width: 1024px) {
    .first {
        padding: 10% 0 10% 0;
    }
    .logo-mobile {
        width: 100%;
    }
    .video {
        width: 90%;
        height: 40vh;
    }
}


@media (max-width: 736px) {
    .first {
        padding: 30% 0 10% 0;
    }
    .logo-mobile {
        width: 100%;
    }
    .video {
        width: 90%;
        height: 30vh;
    }
}



/*fin primera sección*/


/*segunda sección*/

.second {
    background-color: #3F3F3F;
}

.segunda-img {
    width: 100%;
}

.second h2 {
    color: #3fbad9;
    font-weight: 700;
}

.second p {
    font-size: 1.1em;
    padding-top: 5%;
    color: #fff;
}

@media (max-width: 736px) {
    .second {
        padding: 3% 0;
    }
}

.second h2 {
    text-align: left;
}

.second p {
    font-size: 1.1em;
    text-align: left;
}



/*fin segunda sección*/


/*tercera sección*/

.third h2 {
    color: #db0879;
    font-weight: 700;
}

.third li {
    list-style-type: square;
    color: #fff;
    margin: 10px 0;
    font-size: 1.1em;
}

@media (max-width: 736px) {
    .third h2 {
        text-align: left;
    }

    .segunda-img {
        padding-top: 0;
    }
}



/*fin tercera sección*/


/*cuarta sección*/

.four {
    background-color: #3F3F3F;
}

.four h2 {
    color: #3fbad9;
    font-weight: 700;
}

@media (max-width: 736px) {
    .four h2 {
        text-align: left;
    }
}

form {
    width: 70%;
    margin: 30px auto;
}

form label {
    color: #FFF;
}

form .btn {
    background-color: #db0879;
    color: #fff;
}



/*fin cuarta sección*/


/*footer*/

footer {
    padding: 2% 0;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    color: #fff;
}

a.chirimoya {
    color: #BADA55;
}

h4 {
    color: #FFF;
}



/*fin footer*/